<%- include("./partials/header.ejs") -%>

<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5 mx-auto">
    <main class="card p-3" id="principal" data-aos="fade-in">
      <div class="card-body">
        <h1 class="card-title">What is this ?</h1>
        <p class="card-text">
          A website where you can find information about many countries in the
          world 🌎. Information related to its culture, currency, language,
          territorial extension, interesting facts and images of its most
          important tourist sites.
          <strong>Click on the button below to start.</strong>
        </p>
        <a href="/view" class="btn btn-info w-50 mx-auto d-block">View</a>
      </div>
    </main>
  </div>
</div>

<%- include("./partials/footer.ejs") -%>
