<%- include("./partials/header.ejs") -%>

<div class="row mx-auto justify-content-center">
  <div class="col-md-8 mt-5">
    <h1 data-aos="fade-up" class="display-3" id="country-name">Mexico</h1>
    <div class="btn-group" data-aos="flip-up">
      <button
        type="button"
        class="btn btn-danger dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sections
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#principal">Principal</a></li>
        <li><a class="dropdown-item" href="#history">History</a></li>
        <li><a class="dropdown-item" href="#culture">Culture</a></li>
        <li><a class="dropdown-item" href="#data">Data</a></li>
        <li><a class="dropdown-item" href="#tourist">Tourist</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Images</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row mx-auto justify-content-center">
  <div class="col-md-8">
    <section id="principal" data-aos="fade">
      <h1 class="display-5">Principal</h1>
      <p class="text-justify info-text">
        Mexico is known for its rich and diverse culture, which is a fusion of
        indigenous Mesoamerican traditions and Spanish influence. Mexican
        culture is reflected in its art, music, gastronomy and traditional
        festivities such as the Day of the Dead and Independence celebrations.
      </p>
      <img
        src="public/img/countries/mexico/mexico-image.jpg"
        alt="mexico-image"
        id="mexico-image"
        class="mb-4"
      />
    </section>

    <section id="history" data-aos="fade-in">
      <h1 class="display-5">History</h1>
      <p class="text-justify info-text">
        <strong class="text-strong"
          >The history of Mexico dates back to the pre-Columbian civilizations
          that flourished in the region, such as the Olmecs, Mayans and
          Aztecs.</strong
        >
        These cultures developed advanced agricultural systems, monumental
        architecture and writing systems. In 1519, the Spanish conquistador
        Hernán Cortés arrived on the coasts of Mexico and began the conquest of
        the Aztec empire. After years of conflict, the Spanish managed to subdue
        the Aztecs and established New Spain as a colony of the Spanish Empire.
        During the colonial period, the Spanish imposed their culture, religion
        and system of government on the territory. Discontent with Spanish rule
        grew throughout the 18th and 19th centuries. In 1810, priest Miguel
        Hidalgo y Costilla began the fight for Mexican independence, known as
        the War of Independence. After more than a decade of conflict, Mexico
        finally achieved its independence in 1821. The post-independence period
        was marked by political instability and internal conflicts. Mexico
        experienced a series of government changes, armed conflicts, and loss of
        territory, such as the war with the United States in the 1840s and the
        French intervention in the 1860s. In 1910, the Mexican Revolution broke
        out, a social and political conflict that lasted almost a decade and
        sought to transform the social, economic and political structures of the
        country. The Mexican Revolution had a significant impact on the history
        and identity of Mexico. In the 20th century, Mexico experienced major
        political and social changes, including the creation of the
        Institutional Revolutionary Party (PRI) which governed for much of the
        century. In recent decades, Mexico has experienced a transition towards
        a more pluralistic democratic system. Today, Mexico is a multicultural
        and diverse nation, with a developing economy and a rich cultural
        heritage that is reflected in its art, music and gastronomy.
      </p>
    </section>

    <section id="culture">
      <h1 class="display-5" data-aos="fade">Culture</h1>

      <p class="text-justify info-text" data-aos="fade">
        The culture of Mexico is extremely rich and diverse, the result of the
        fusion of Mesoamerican indigenous cultures with influence Spanish and
        other subsequent contributions.
      </p>
      <dl>
        <dt data-aos="flip-right">Art and architecture</dt>
        <dd>
          Mexico is known for its prehispanic Art, as the Plaimdes of
          Teotihuacán and Chichén Itzá, so as for its colonial art, medded in
          the Churches and Cathedrals of Cities such as Mexico, Oaxaca and
          Puebla.It is also artist artists as Diego Rivera, fragid kahlo and
          tamayo.
          <img
            src="public/img/countries/mexico/image1.png"
            alt="image 1"
            class="my-4"
          />
          <img
            src="public/img/countries/mexico/image2.jpg"
            alt="image 1"
            class="my-4"
          />
        </dd>

        <dt data-aos="flip-left">Gastronomy</dt>
        <dd>
          Mexican food is recognized worldwide for its diversity and
          flavor.Iconic dishes include tacos, tamales, enchiladas, mole,
          guacamole and stuffed chiles.Corn, beans and Chile are fundamental
          ingredients in Mexican cuisine.
          <img
            src="public/img/countries/mexico/image3.jpg"
            alt="image 1"
            class="my-5"
          />
        </dd>
        <dt data-aos="flip-right">Music</dt>
        <dd>
          Mexican music covers a wide variety of genres, from traditional music
          such as mariachi and ranchera music, to the son Jarocho and Cumbia.The
          country has also produced renowned popular music artists and rock, as
          well as famous folk music performers.
          <img
            src="public/img/countries/mexico/image4.jpg"
            alt="image 1"
            class="my-4"
          />
          <img
            src="public/img/countries/mexico/image5.jpg"
            alt="image 1"
            class="my-4"
          />
        </dd>
        <dt data-aos="flip-left">Traditions and festivities</dt>
        <dd>
          Mexico is famous for its traditional celebrations, such as the Day of
          the Dead, a holiday that honors the deceased, and Christmas inns.Other
          important festivities include September 16, Mexico's Independence Day,
          and on December 12, the Day of the Virgin of Guadalupe.
          <img
            src="public/img/countries/mexico/image6.jpg"
            alt="image 1"
            class="my-4"
          />
          <img
            src="public/img/countries/mexico/image7.png"
            alt="image 1"
            class="my-4"
          />
        </dd>
        <dt data-aos="flip-right">Literature</dt>
        <dd>
          Mexico has been the cradle of important writers and poets such as
          Octavio Paz, Carlos Fuentes, Sor Juana Inés de la Cruz and Juan
          Rulfo.Mexican literature addresses a wide range of issues, reflecting
          the history and cultural diversity of the country.
          <img
            src="public/img/countries/mexico/image8.jpg"
            alt="image 1"
            class="my-4"
          />
          <img
            src="public/img/countries/mexico/image9.jpg"
            alt="image 1"
            class="my-4"
          />
        </dd>
        <dt data-aos="flip-left">Traditional costumes</dt>
        <dd>
          Each region of Mexico has its own traditional costumes, which vary in
          design, colors and materials.Some examples are Charro's suit, typical
          of the mariachis, and the colorful and embroidery costumes of
          indigenous communities such as huipiles and tehuana suits.
          <img
            src="public/img/countries/mexico/image10.png"
            alt="image 1"
            class="my-4"
          />
          <img
            src="public/img/countries/mexico/image11.png"
            alt="image 1"
            class="my-4"
          />
        </dd>
      </dl>
    </section>

    <section id="data">
      <h1 class="display-5" data-aos="fade">Data</h1>
      <dl>
        <dt data-aos="flip-left">Territorial expansion</dt>
        <dd>
          Mexico is the third largest country in Latin America and has a Total
          area of approximately 1,964,375 square kilometers.
        </dd>
        <dt data-aos="flip-right">Population</dt>
        <dd>
          According to recent estimates, the population of Mexico is around of
          126 million people, which makes it the most Spanish -speaking
          populated.
        </dd>
        <dt data-aos="flip-left">Capital</dt>
        <dd>
          The capital of Mexico is Mexico City, also known as CDMX.It is one of
          the largest and most populated cities in the world.
        </dd>
        <dt data-aos="flip-right">Language</dt>
        <dd>
          The official language of Mexico is Spanish.However, I also know They
          recognize 68 indigenous languages, such as Nahuatl, Maya, Zapotec,
          Mixtec and Otomi, among others.
        </dd>
        <dt data-aos="flip-left">Currency</dt>
        <dd>
          The official currency of Mexico is the Mexican weight (MXN).The bills
          They are available in denominations of 20, 50, 100, 200, 500 and 1,000
          pesos, and coins in denominations of 1, 2, 5, 10 and 20 pesos.
        </dd>
        <dt data-aos="flip-right">Government</dt>
        <dd>
          Mexico is a democratic and federal republic.The country is governed by
          a Constitution that establishes a presidential system, with a
          President as head of state and government.
        </dd>
        <dt data-aos="flip-left">Flag</dt>
        <dd>
          The flag of Mexico consists of three vertical stripes: green to the
          Left, white in the middle and red to the right.In the center of White
          is the national shield with an eagle devouring a snake.
        </dd>
        <dt data-aos="flip-right">Cultural heritage</dt>
        <dd>
          Mexico has numerous sites declared heritage of the Humanity for
          UNESCO, like the old Mayan cities in Chichen Itzá and Palenque, the
          pre -Hispanic city of Teotihuacán, the center Historical of Mexico
          City and the Archaeological Zone of Monte Albán, among others.
        </dd>
      </dl>
    </section>

    <section id="tourist" data-aos="fade">
      <h1 class="display-5">Tourist</h1>
      <ul>
        <li>
          Mexico City and its attractions such as Zocalo, the Palace of Fine
          Arts, the Frida Kahlo Museum and the National Museum of Anthropology.
        </li>
        <li>
          Cancun and the Riviera Maya, with their beautiful beaches, luxury
          resorts and archaeological sites such as Tulum and Chichen Itzá.
        </li>
        <li>
          Playa del Carmen, a lively coastal city with excellent options to go
          shopping, dinner and enjoy nightlife.
        </li>
        <li>
          Puerto Vallarta, famous for its beaches, aquatic activities and its
          lovely historic center.
        </li>
        <li>
          Los Cabos, a luxury tourist destination at the tip of the Peninsula of
          Baja California, known for its beaches, golf and nightlife.
        </li>
        <li>
          Guadalajara, the second largest city in Mexico, with its rich history,
          colonial architecture and festive atmosphere.
        </li>
        <li>
          Oaxaca and its surroundings, with its colonial city, traditional
          gastronomy, crafts and archaeological sites such as Monte Albán.
        </li>
        <li>
          San Miguel de Allende, a picturesque and vibrant colonial city,
          recognized for its architecture, cultural festivals and artistic
          community.
        </li>
        <li>
          Tulum, famous for its dream beaches and the Mayan ruins in front of
          the sea.
        </li>
      </ul>
    </section>
  </div>
</div>

<%- include("./partials/footer.ejs") -%>
