:root {
  --font: "Barlow", sans-serif;
}

body {
  font-family: var(--font);
  font-size: 1.2rem;
  background-color: #f2edeb;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

#principal-section {
  margin: 10% 0;
}

#elSalvadorLogo {
  width: 25px;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.col-lg-4 article {
  height: 100%;
  border-style: none;
}

.row {
  margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
}
@media (min-width: 600px) and (max-width: 700px) {
}

@media (min-width: 700px) and (max-width: 1024px) {
}
