body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#principal {
  margin: 10% 0;
}

.accordion {
  margin: 0 5rem 5rem 5rem;
}

#carousel .carousel-inner .carousel-item img {
  height: 550px;
}

#elSalvadorLogo {
  width: 25px;
  height: auto;
  margin-left: 0.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  #carousel .carousel-inner .carousel-item img {
    height: 300px;
  }

  .accordion {
    margin: 0 1rem 5rem 1rem;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  #carousel .carousel-inner .carousel-item img {
    height: 350px;
  }

  .accordion {
    margin: 0 2rem 5rem 2rem;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  #carousel .carousel-inner .carousel-item img {
    height: 400px;
  }

  .accordion {
    margin: 0 3rem 5rem 3rem;
  }
}
