  </div>

  <!-- SCRIPTS -->
  <script src="node/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node/aos/dist/aos.js"></script>
  <script src="public/js/main.js"></script>

</body>
</html>